body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size:14px
}

h1{
	font-size: 2.5rem;
	font-weight: lighter;
}

h2{
	font-size: 1.5rem;
}

h1, h2{
  margin-top:0.3em;
  margin-bottom:0;
}

p{
	margin:0
}

.frontpage-header{
  text-align:center;
}

.frontpage-header p{
  margin-top:0;
}

.main{
  max-width: 1306px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  font-size: 0.8em;
}



/* Publication list */
ul.pubs{
	display: block;
	padding:0;
}

ul.pubs li.pub{
	display:block;
	list-style: none;
	min-height:133px;
}

ul.pubs li.pub img{
	height:100px;
	width:133px;
	float:left;
	vertical-align:top;
	padding:0.5em;
	margin-right:1em;

}

ul.pubs li.pub .pub-wrap{
padding:0.5em;
}

ul.pubs li.pub .pub-wrap p{
 padding-bottom:0.5em;
}

ul.pubs li.pub .pub-wrap p.title{
 font-weight: bold;
}

ul.pubs li.pub .pub-wrap ul.tags{
	list-style: none;
}

ul.pubs li.pub .pub-wrap ul.tags li{
	display:inline-block;
	margin-right:1.5em;
}

ul.pubs li.pub .pub-wrap ul.tags li a{
	color: rgb(0, 163, 239);
	text-decoration: none;
}

ul.pubs li.pub .pub-wrap ul.tags li a::before{
	font-family: Fontawesome;
	padding-right: .5em;
}

ul.pubs li.pub .pub-wrap ul.tags li a.slides::before{
	content: "\f108";
}

ul.pubs li.pub .pub-wrap ul.tags li a.poster::before{
	content: "\f022";
}

ul.pubs li.pub .pub-wrap ul.tags li a.related.tool::before{
	content: "\f0a4";
}

ul.pubs li.pub .pub-wrap ul.tags li a.paper::before{
	content: "\f0f6";
}

ul.pubs li.pub .pub-wrap ul.tags li a.abstract::before{
	content: "\f016";
}

ul.pubs li.pub .pub-wrap ul.tags li a.github::before{
	content: "\f09b";
}
