body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}
.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}

header .pre-head {
  margin-top:16px;
  font-size:24px;
  vertical-align:text-bottom;
}

 header .pre-head img {
  margin-right:.1em;
  margin-bottom:.2em;
}


 header h1 {
  margin-top:0;
  line-height: 1;
  margin-bottom:16px;
}

.w3-twothird{
  text-align:justify;
}

.fa-anchor,.fa-coffee {
    font-size:200px
}
.rho-blue {
    background: #326195;
    color: white;
}
.rho-green {
    background: #6ebe4b;
    color: black;
}
.rho-logo {
    margin-top: 84px;
    margin-left: 48px;
}

header{
  margin-top:50px;
  padding-top:1em;
  padding-bottom:1em;
  color: #326195; /* Rho Blue */

}


/* Publication list */
ul.pubs{
	display: block;
	padding:0;
}

ul.pubs li.pub{
	display:block;
	list-style: none;
	min-height:133px;
}

ul.pubs li.pub img{
	height:100px;
	width:133px;
	float:left;
	vertical-align:top;
	padding:0.5em;
	margin-right:1em;

}

ul.pubs li.pub .pub-wrap{
padding:0.5em;
}

ul.pubs li.pub .pub-wrap p{
 padding-bottom:0.5em;
 margin:0;
}

ul.pubs li.pub .pub-wrap p.title{
 font-weight: bold;
}

ul.pubs li.pub .pub-wrap ul.tags{
	list-style: none;
}

ul.pubs li.pub .pub-wrap ul.tags li{
	display:inline-block;
	margin-right:1.5em;
}

ul.pubs li.pub .pub-wrap ul.tags li a{
	color: rgb(0, 163, 239);
	text-decoration: none;
}

ul.pubs li.pub .pub-wrap ul.tags li a::before{
	font-family: Fontawesome;
	padding-right: .5em;
}

ul.pubs li.pub .pub-wrap ul.tags li a.slides::before{
	content: "\f108";
}

ul.pubs li.pub .pub-wrap ul.tags li a.poster::before{
	content: "\f022";
}

ul.pubs li.pub .pub-wrap ul.tags li a.related.tool::before{
	content: "\f0a4";
}

ul.pubs li.pub .pub-wrap ul.tags li a.paper::before{
	content: "\f0f6";
}

ul.pubs li.pub .pub-wrap ul.tags li a.abstract::before{
	content: "\f016";
}

ul.pubs li.pub .pub-wrap ul.tags li a.github::before{
	content: "\f09b";
}
